.userBody {
    background: #114D88;
}

h1 {
  line-height: 2.34375rem;
  font-size: 1.2rem;
  color: white;
  white-space: nowrap;
  margin-bottom: 20px;
  text-align: center;
}
.userLogin {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 80px;
}

#email,
#password {
    width: 480px;
    height: 40px;
    border: unset;
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 5px;
}

#email__label,
#password__label, 
#remember {
    color: white;
    margin-bottom: 8px;
    line-height: 1.8125rem;
}

.loginForm__user {
    display: grid;
}

.btnLogin__user {
    width: 100%;
    max-width: 300px;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    background-color: #3B3B3B;
    color: white;
    border: unset;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;

}


.lost__password {
    text-align: center;

}

.lost__password a {
    color: white;
    text-align: center;
    text-decoration: none;
    margin: 20px auto 0 auto;
}

.lost__password a:hover {
    color: white;
    text-decoration: underline;
}

.remember {
    margin-top: 20px;
    text-align: center;

}